daemon off;
pid /tmp/nginx.pid;
worker_processes 1;
error_log /tmp/error.log debug;

events {
    worker_connections 1024;
}

http {
    access_log /tmp/access.log;
    client_body_temp_path /tmp/nginx_client;
    proxy_temp_path /tmp/nginx_proxy;
    fastcgi_temp_path /tmp/nginx_fastcgi;
    uwsgi_temp_path /tmp/nginx_uwsgi;
    scgi_temp_path /tmp/nginx_scgi;

    map $http_upgrade $cu { default upgrade; '' close; }

    server {
        listen 7860;
        listen 7890;

        location / {
            root /home/user/static;
            index index.html;
            try_files /index.html @backend;
        }

        location @backend {
            proxy_pass http://127.0.0.1:7861;
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection $cu;
            proxy_set_header Host $host;
            proxy_read_timeout 86400s;
            proxy_send_timeout 86400s;
        }

        location /chisel-tunnel {
            proxy_pass http://127.0.0.1:6789/;
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection $cu;
            proxy_set_header Host $host;
            proxy_read_timeout 86400s;
            proxy_send_timeout 86400s;
        }

        location /gost-bridge {
            proxy_pass http://127.0.0.1:6790/;
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection $cu;
            proxy_set_header Host $host;
            proxy_read_timeout 86400s;
            proxy_send_timeout 86400s;
        }
    }
}
